@import "tailwindcss";

@layer base {
  h1 {
    @apply text-xl font-bold
  }

  h2 {
    @apply text-lg font-bold
  }

  p {
    @apply text-sm
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Ghibli Pallete */
  --choco: #876C57;
  --dark: #473535;
  --creamy: #ECE3D4;
  --sky: #82C1ED;
  --joy: #F38524;
  --sunny: #FAFA5E;
  --forest: #567442;
}

.bg-primary-gradient {
  background: linear-gradient(to right, var(--choco), var(--dark));
}

.bg-secondary-gradient {
  background: var(--secondary-gradient);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
